.todo-container {
    display: grid;
    grid-template-rows: 1fr;
    margin: 5%;
}   

.todo-row {
   display: grid;
   grid-template-columns: 5fr 1.5em; 
   background-color: pink;
   margin-bottom: 10px;
   margin-left: 10%;
   margin-right: 10%;
   border-radius: 5px; 
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  
}

.todo-button {
   height:50%;
   padding-top: 70%;
   border-radius: 10% 90% 1% 99% / 88% 5% 85% 12%;
   background-color: rgb(255, 250, 229);
   border-style: none;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   color: rgb(12, 12, 12);
   
}

.todo-button:hover {
    background-color: rgb(240, 224, 167);
}


.todo-desc {
    margin-left: 10%;
    text-align: center;
    font-size: 22px;
    color: aliceblue;
    
}



